.searchActive {
    height: auto !important;
}

html {
    max-width: 100%;
    margin: 0 auto;
}
body {
    margin: 0;
    background-color: #EDEDED;
}

/*     HEADER     */
header {
    background-color: #EDEDED;
    background: url("https://s3-alpha-sig.figma.com/img/f90e/7bb5/ff2950597c1f7f1fce40bd5b03a3d836?Expires=1691366400&Signature=GKfZja3Z6oEzIutVRRn-e4URZXTxz5z6BioMdVj1C6zvZFQCNqWAyINOgkPLDwtN06~7P~3ZfFfV5GLqucpWqr5Qsntv3efSLcItPm4peKr-cY1YpPA8PIJQonYJoVp326igfMi1CEvTX8HKw~coIOSPjhCpi5~yZXuMtZKa-itEMxhMuYtpijcnS8~qYwyejFCAfCVEsEc3PBz8yZa8lu9U-HcAhfUaKwmJRmyPg8dEXOstt~8YciZQ~eCpYtgNE7weIG05HRTAhYdd3ErA~ZFGu8gmZam63Fo6iXwAGkBJ10YeSPaVNnpJigasZ1NACFfMWpJk7nbQuBb6kBfYcQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-size: 100%;
    background-position: 0 -214px;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 667px;
}

#logo_box {
    width: 100%;
}
#logo_box img {
    background-color: black;
    width: 207px;
    height: 25.261px;
    flex-shrink: 0;
    margin: 51px 0 0 69px; 
}

#slogan_box {
    margin:  163px auto 0;
    max-width: 700px;
}
#slogan_box h1 {
    font-family: 'Anton', sans-serif;
    color: var(--yellow, #FFD15B);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}


#searchBar_box {
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    width: 954px;
    height: 72px;
    background-color: white;
    margin: 0 auto;
}
#searchBar_box input{
    font-family: 'manrope', sans-serif;
    border-radius: 5px;
    width: 880px;
    height: 68px;
    border: none;
    padding-left: 50px;
    font-size: 20px;
    color: grey;
}
#searchBar_box input:focus{
    outline-color: white;
}
#searchBar_box button {
    background-color: white;
    border: none;
}






/* Articles de présentation des recettes */
#recettes_section {
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}   
    #recettes_section article{
        width: 380px;
        height: 731px;
        border-radius: 21px;
        margin: 30px auto;
        background-color: white;
    }
        .imgCardBox {
            Width: 380px;
            Height: 253px;
        }
            .imgCardBox img {
                    Width: 380px;
                    Height: 253px;
                    border-top-left-radius: 21px;
                    border-top-right-radius: 21px;
                    object-fit: cover;
            }
            /* patch temps de cuisson*/
            .imgCardBox p{
                position: absolute;
                z-index: 995;
                background-color: #FFD15B;
                width: Hug (63px);
                height: Hug (26px);
                margin: 21px 0 0 285px;
                padding: 5px 15px 5px 15px;
                border-radius: 14px;
                gap: 10px;
            }

            #recettes_section article h2 {
                height: 27px;
                margin: 30px auto 0;
                font-family: 'Anton', sans-serif;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 0em;
                text-align: left;
            }
            #recettes_section article h2, .descriptionBox, .ingredientsBox {
                width: 80%;
            }
            .descriptionBox, .ingredientsBox {
                font-family: 'manrope', sans-serif;
                text-align: left;
                margin: 0 auto;
            }
            .descriptionBox h3, .ingredientsBox h3 {
                width: 60px;
                height: 16px;
                color:#7A7A7A;
                margin-top: 40px;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 0.1em;
            }
            .descriptionBox p{
                font-weight: 200;
                line-height: 19px;
                letter-spacing: 0em;
                font-size: 14px;
                font-family: 'manrope', sans-serif;
                width: 330px;
                height: 76px;
                overflow: hidden;
                color: #1B1B1B;
            }
            .descriptionBox p, .ingredientsBoxElements{
                margin-bottom: 0;
            }
            .ingredientsBoxElements{
                width:100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 15px;
                grid-auto-rows: minmax(10px, auto);
                background-color: #ffffff;
            }
                .ingredientNameElement {
                    height: 19px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #1B1B1B;
                    margin-top: 0;
                }
                .ingredientElement {
                    height: 19px;
                    font-size: 14px;
                    font-weight: 400;
                    color: #7A7A7A;
                    margin-top: -10px;
                    margin-bottom: 0;
                }


                
/**/
#searchListBarAndTotalResults_box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
}

/* Classe */
.visible {
    display: none !important;
}
.rotated {
    transform: rotate(180deg);
}


/* <div> contenant toutes les barres de recherches secondaires */
#searchListBar_box {
    display: flex;
    flex-direction: row;
    font-family: 'manrope', sans-serif;
} 
#searchListBar_box>ul {
    margin-left: 36px;
    margin-right: 60px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 11px;
    padding-left: 0;
    height: 60px;
}
#searchListBar_box>ul>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 178px;
    height: 26px;
}

.searchBarTitle {
    padding: 17px 16px 17px 16px;
}

/*  Les barres de recherches secondaires*/
/* élément de liste <li> */
.searchBarSpecific_box {
    padding: 8px 16px 17px 16px;
}

.specificSearch_box {
    border: 1px solid #c6c6c6;
    width: 200px; 
}
.specificSearch_box input {
    border: none;
    height: 36px;
}
.specificSearch_box i{
    color: #7a7a7a;
}


/* liste contenant ingrédients, appareils ou ustensiles */
.SearchListElement_box {
    text-align: left;
    list-style: none;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 100;
    max-height: 202px;
    width: 202px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
/* Elements de listes */
.SearchListElement_box li {
    width: 178px;
    padding: 7px;
}





/* Classe */
.visible {
    visibility: hidden;
    height: 0;
}
.rotated {
    transform: rotate(180deg);
}





/* */
#totalResults_box {
    width: 155px;
    font-family: "Anton";
    font-size: 21px;
    text-align: left;
}
    










#tags_section {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.tag_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 178px;
    height: 26px;
    padding: 17px 18px 17px 18px;
    border-radius: 10px;
    background-color: #FFD15B;
}

.tag_container span{
    padding: 17px 18px 17px 18px;
    cursor: pointer;
}



/* class ajouté à l'élément de liste secondaire cliquée */
.listElementSelected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: #FFD15B;
    height: 26px;
    margin: 0 0 20px;
}

#noMatchingRecipes {
    width: 100%;
    margin: 20px auto;
    font-size: 50px;
}